
$ft-green: #1dbb90
$ft-grey: #e5e5e5

.wy-body-for-nav
    background: none

.wy-nav-content-wrap
    max-width: 1170px
    margin: 0 auto
    background: none

    &.shift
        top: auto

.wy-nav-content-wrap-inner
    position: absolute
    width: 100%
    max-width: 1170px

    @media (max-width: 1200px)
        padding-left: 30px

    @media (max-width: 770px)
        padding-left: 0

.wy-nav-content
    width: 100%
    max-width: none
    padding: 30px 0
    padding-right: 370px
    float: left
    background: none

    @media (max-width: 1200px)
        padding-right: 350px

    @media (max-width: 770px)
        padding-right: 0

    a
        color: $gray


@media (max-width: 770px)
    .wy-nav-side
        z-index: -1

.wy-nav-side
    padding: 30px 0
    position: absolute
    right: 0
    left: auto
    background: none

    @media (max-width: 770px)
        .wy-menu
            display: none

        &.shift .wy-menu
            width: 75%
            position: fixed
            left: 25px
            display: block

        right: auto
        left: 0

    .wy-menu-vertical
        @media (max-width: 1200px)
            margin-right: 30px

        li
            a
                border-color: $white
                border-bottom: 1px solid $gray-lighter

                &:hover
                    background: none

        li.current
            background: none

            > a
                background: none

.wy-side-nav-search
    max-width: 1170px
    margin: 0 auto
    padding-left: 0
    padding-right: 0
    background-color: $ft-grey

    input[type=text]
        padding: 22px 20px
        border-color: $white
        border-radius: 2px
        box-shadow: none
        font-size: 20px

    @media (min-width: 770px) and (max-width: 1200px)
        padding-left: 25px
        padding-right: 25px

.wy-side-nav-search-wrap
    padding: 30px 0
    background-color: $ft-grey

    @media (max-width: 770px)
        display: none

.wy-nav-top
    padding: 0 25px
    background: none
    vertical-align: bottom

    @media (max-width: 770px)
        display: inline-block

.title
    width: 1170px
    margin: 0 auto
    padding: 30px 0

    a.fa
        color: $white
        font-size: 22px

    @media (min-width: 770px) and (max-width: 1200px)
        padding-left: 25px

.header
    background-color: $ft-green

.rst-versions
    border-top: none
    background-color: $ft-green

    @media (min-width: 770px)
        left: auto

    .rst-current-version
        color: $white
        background: none

    dt
        color: $black
