include *.txt
include LICENSE
recursive-include ftrack_sphinx_rtd_theme *.conf
recursive-include ftrack_sphinx_rtd_theme *.css
recursive-include ftrack_sphinx_rtd_theme *.eot
recursive-include ftrack_sphinx_rtd_theme *.html
recursive-include ftrack_sphinx_rtd_theme *.js
recursive-include ftrack_sphinx_rtd_theme *.svg
recursive-include ftrack_sphinx_rtd_theme *.ttf
recursive-include ftrack_sphinx_rtd_theme *.woff
